<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/mypage.css?after">
<title>마이페이지</title>
</head>
<body>
<div class="mypage">
	<div class="mainbar">
		<img class="mainbar" src="img/mainbar.png"/>
	</div>
	<div class = "title">
		<br><h1 class="title_mp">마이페이지</h1>
	</div>
	<div class="mainbox_mp">
		<table class="table_mp">
		<tr>
			<th rowspan="2" class="th_id">userID님</th> <!-- 출력 예시 -->
			<th>회원 등급</th>
			<th>주문 내역</th>
			<th>쿠폰</th>
		</tr>
		<tr>	
			<td class="td1">SILVER</td> <!-- 출력 예시 -->
			<td class="td1">7</td> <!-- 출력 예시 -->
			<td class="td1">3</td> <!--추후, 클릭 시 가지고 있는 쿠폰 내역 출력되도록 수정  -->
		</tr>
		</table>
	</div>
	<br>
	<div class="buttonBox">
		<button type="button" id="order" onclick="location.href='order.html'"><img src="img/mypage_order.png"></button>
		<button type="button" id="basket" onclick="location.href='basket.html'"><img src="img/mypage_basket.png"></button>
		<br>
		<button type="button" id="wishlist" onClick="location.href='wishlist.html'"><img src="img/mypage_wish.png"></button>
		<button type="button" id="myinfo" onClick="location.href='myinfo.html'"><img src="img/mypage_info.png"></button>
	</div>
</div>
</body>
</html>
